@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen  and (min-width: 1337px) {
  body, :root {
    background: rgb(54,88,71);
    background: linear-gradient(150deg, rgba(54,88,71,1), rgba(42,42,42,255) 40%, rgba(42,42,42,255) 70%, rgba(40,56,51,255) 100%);
  }
}
body,:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgba(42,42,42,255);
}


/* .sidebar-gradient {
  background: rgb(62,105,84);
  background: linear-gradient(176deg, rgba(62,105,84,1) 0%, rgba(47,47,47,1) 50%);
} */